head {
	background-color: blue;
	height: 50px;
}
body {
	background-color: green;
}
h5{
	font-size: 12px;
}
footer{
	font-family: 'Libre Franklin', sans-serif;
    background-color: grey;
    color: white;
}
.carousel{
	height: ;
}